#homeWrapper{
    display: flex;
    flex-direction: row;

    height: 100vh;

    background-image: url("../pages/sources/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #C8D6E5;
    overflow: hidden;
}

/* shared */
.mod{
    display: flex;

    margin: 2em 6em;
    padding: 1.2em;
    border-radius: 4px;

    /* Glassmorphism */
    border: 1px solid rgba(255, 255, 255, .2);
    background: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.inputMod{
    width: 75%;

    margin-left: 1em;
    padding: 10px 10px 10px 20px;

    /* Glassmorphism */
    border: 1px solid rgba(255, 255, 255, .4);
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.inputMod:hover{
    border-color: rgba(129, 236, 236, 0.8);
}

.inputMod:focus{
    border-color: rgba(129, 236, 236, 0.8);
    box-shadow: 0 0 5px rgba(129, 236, 236, 0.8);
}

.homeBtn{
    border: 1px solid rgba(129, 236, 236, 0.6);
    border-radius: 6px;

    color: aliceblue;
    background-color: rgba(129, 236, 236, 0.7);
}

.homeBtn:hover{
    background-color: rgba(0, 206, 201, 0.6);

    cursor: pointer;
}

.homeBtn.disable, .homeBtn.disable:hover{
    background-color: rgba(129, 236, 236, 0.4);
}

/* layout */
#navBar{
    flex: 3;
}

#mainContent{
    flex: 7;

    height: 100%;
    overflow-y: scroll;
}

/* nav */
#navUser{
    align-items: center;
    justify-content: center;
}

#userIcon{
    height: 2.4em;
    width: 2.4em;
    margin-left: 1.2em;

    border-radius: 50%;
}

#navUser span{
    flex: 1;

    text-align: center;
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
}

#navUser button{
    width: 6em;
    height: 2em;

    font-size: 1.2em;
}

#navBtns{
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
}

#navBtns button{
    display: flex;

    margin: 0.4em;
    padding: 0.6em;
    border-radius: 20px;

    color: #2C3E50;
    background-color: transparent;
}

#navBtns button:hover{
    color: #74B9FF;
    background-color: rgba(129, 236, 236, 0.2);

    cursor: pointer;
}

#navBtns svg{
    height: 1.8em;
    width: 1.8em;

    margin-top: 0.1em;
}

#navBtns span{
    margin-left: 1.4em;

    font-size: 1.4em;
    font-weight: 600;
}

#navContact{
    align-items: center;
    justify-content: center;
}

#navContact a{
    flex: 1;
    text-align: center;
}

#navContact svg{
    height: 2em;
    width: 2em;
}

#navContact a:hover{
    opacity: 0.8;
}

/* main content */
#postInput{
    flex-direction: column;
}

#postInput div, .replyInput{
    position: relative;
}

#postInput input[type=text]{
    font-size: 1.1em;
}

#postInput textarea, .replyInput textarea{
    height: 5em;
    min-height: 5em;
    margin-top: 1.4em;

    font-size: 1em;

    resize: vertical;
}

#postInput small, .replyInput small{
    position: absolute;
    bottom: -1.2em;
    left: 2em;

    font-size: 0.8em;
    color: #ee5253;
}

#postBtn, .replyBtn{
    position: absolute;
    right: 0;
    bottom: 10px;

    height: 2.4em;
    width: 5.2em;

    font-size: 1.01em;
}

#postArea{

}

.postCard{
    flex-direction: column;
}

.postCard:hover{
    opacity: 0.7;
    cursor: pointer;
}

.postCard.expand:hover{
    opacity: 1;
    cursor: default;
}

.postCard p{
    margin-left: 20px;
}

.cardTitle{
    margin-bottom: 0.4em;

    font-size: 1.2em;
    font-weight: 600;
}

.cardUsername{
    font-family: 'VT323', monospace;
}

.cardContent{
    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 1.02em;
}

.cardDate{
    margin-left: 3em;

    font-size: 0.8em;
    font-weight: 200;
}

/* timeline */
.timeLine{
    position: absolute;
    top: 1em;
    left: -4em;

    height: 1em;
    width: 1em;
    border-radius: 50%;

    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);

    z-index: 3;
}

.lineOfTimeLine{
    position: absolute;
    top: calc(2em + 2px);
    left: -3.6em;

    width: 0.2em;
    height: calc(100% + 1em);

    border-left: 1px solid rgba(255, 255, 255, 0.21);
    border-right: 1px solid rgba(255, 255, 255, 0.21);
    background-color: rgba(255, 255, 255, 0.42);

    z-index: 2;
}

.lineOfTimeLine.LastOne{
    display: none;
}

/* deal with opacity change */
.postCard:hover .timeLine{
    background-color: rgba(255, 255, 255, 0.6);
}

.postCard.expand:hover .timeLine{
    background-color: rgba(255, 255, 255, 0.42);
}

.postCard:hover .lineOfTimeLine{
    background-color: rgba(255, 255, 255, 0.6);
}

.postCard.expand:hover .lineOfTimeLine{
    background-color: rgba(255, 255, 255, 0.42);
}

#postCardBtns{
    display: flex;
}

#postCardBtns div{
    flex: 1;

    text-align: center;
}

#postCardBtns svg{
    height: 1.8em;
    width: 1.8em;
}

#postCardBtns svg:hover{
    opacity: 0.7;
    cursor: pointer;
}

.replyArea{
    align-self: center;
    width: 85%;

    font-size: 0.9em;
}

.replyInput{
    display: flex;
}

.replyInput textarea{
    height: 3.2em;
    min-height: 3.2em;

    margin-left: 0;
}

.replyBtn{
    bottom: 0;
}

.replyCard{
    list-style: none;
}

.replyCard hr{
    margin-top: 1em;
    margin-bottom: 1em;

    border: none;
    border-top: 1px solid black;
}

.replyCard div{
    margin-top: 0.4em;
}

.replyBottom{
    font-size: 0.9em;
}

.replyBottom span{
    margin-left: 2em;

    color: #ee5253;
}